body{
}

#topNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;
}
#top1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#top2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    background-color: black;
}

#cyberweek {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.cyberweekdeal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    justify-content: center;
}